<div class="jumbotron myJumbotron">
    <h1 class="text-center display-1">My Cars</h1>
</div>
<div>
  <form #carForm="ngForm" (ngSubmit) = "createCar(carForm)" class="container" novalidate>
    <div class="form-row align-items-center">
        <div class="col-xl-3 col-md-4 col-sm-6 form-group">
            <label class="sr-only" for="plate">Plate</label>
            <div class="input-group mb-2 mb-sm-0">
              <div class="input-group-addon">Plate</div>
              <input type="text" class="form-control" id="plate"
                placeholder="Plate"
                name="plate"
                [(ngModel)]="newCar.id"
                #plate="ngModel"
                minlength="6"
                maxlength="8"
                required>
            </div>
        </div>
        <div class="col-auto form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!carForm.form.valid">Submit</button>
        </div>
    </div>
  </form>
  <table class="table table-hover">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Plate</th>
          <th>Model</th>
          <th>Year</th>
          <th>Color</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars, let i = index">
          <th scope="row">{{i + 1}}</th>

          <td *ngIf="!editing || editingCar.id !== car.id">{{car.id}}</td>
          <td *ngIf="!editing || editingCar.id !== car.id">{{car.model}}</td>
          <td *ngIf="!editing || editingCar.id !== car.id">{{car.year}}</td>
          <td *ngIf="!editing || editingCar.id !== car.id">{{car.color}}</td>
          <td *ngIf="!editing || editingCar.id !== car.id"><a><i (click)="editCar(car)" class="material-icons edit">edit</i></a></td>
          <td *ngIf="!editing || editingCar.id !== car.id"><a (click)="confirmDelete(car.id)"><i class="material-icons delete">delete</i></a></td>

          <td *ngIf="editing && editingCar.id === car.id"><input size="9" type="text" [(ngModel)]="editingCar.id"></td>
          <td *ngIf="editing && editingCar.id === car.id"><input size="10" type="text" [(ngModel)]="editingCar.model"></td>
          <td *ngIf="editing && editingCar.id === car.id"><input size="4" type="text" [(ngModel)]="editingCar.year"></td>
          <td *ngIf="editing && editingCar.id === car.id"><input size="6" type="text" [(ngModel)]="editingCar.color"></td>
          <td *ngIf="editing && editingCar.id === car.id"><a><i (click)="updateCar(car)" class="material-icons">done</i></a></td>
          <td *ngIf="editing && editingCar.id === car.id"></td>
        </tr>
      </tbody>
    </table>
    <div class="text-danger text-center" *ngIf="cars && cars.length == 0">
        <p>No Cars Found!</p>
    </div>
</div>
